---
layout: default
---

<div class="home">

  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
          <h3 class="h2 post-title">{{ post.title }}</h3>
          <p class="post-summary">{{ post.summary }}</p>
        </a>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}
  
  <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WDR7SX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WDR7SX');</script>
<!-- End Google Tag Manager -->

</div>
